[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
argparse = "*"
"bs4" = "*"
requests = ">=2.20.0"
twine = "*"
urllib3 = ">=1.24.2"
wheel = "*"
sphinx = "*"
